@charset "utf-8";
/* CSS Document */
/*.wrapper{
	width:1200px;
}*/
.flex {
    display: flex;
}
.navi{
	
	padding:10px;
	
	border:1px solid #000000;
	margin:5px 5px 0 5px;
	/*flex:1;*/
}
.navi1{
	
	padding:10px;
	
	border:1px solid #000000;
	margin:5px 5px 0 5px;
	margin-left: 140px;
	/*flex:1;*/
}
a  {
	text-decoration: none;
	color:black;
}
.backGimg{
	background-image: url("bild/bg.jpg");
	background-size: cover;
	/*background-repeat: no-repeat;*/
	/*background-position: right center;*/
	padding:200px 0;
}
h1{
		
		color:#FFFFFF;
		margin:0 auto;
		/*padding:20px;*/
		text-align:center;
		/*width:500px;*/
	}

main{
	
	text-align: justify;
}
.bildalign{
	margin:0 auto;
	
	text-align: center;
	/*flex:3;*/
}
.bildalign1{
	
	padding:5px;
}
.inhaltsbild {
	padding:0 0 5px 5px;
    float: right;
	flex:1;
}
.clear{
	clear:both;
}
article{
	
	font-family:Times New Roman, "serif";
	padding:0 150px;
}
.roterbuchst{
	font-family: Times New Roman, "serif";
	font-size: 2.0 em;
	color:red;
}
footer{
	padding:0 0 0 100px;
	color:white;
	text-align:center;
	background-color: black;
	width:100%;
	margin:0 auto;
	justify-content: center;
}
.Socialm{
	flex:1;
	
}
.partner{
	flex:1;
	
}
.kontakt{
	flex:1;
	
}
.rechtliches{
	flex:1;
	padding-right: 150px;
}
footer a{
	color:white;
}